[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tmdbsimple = "*"
requests = "*"
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-wtf = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
