{% extends 'layout.html' %}

{% block title %}
My Account
{% endblock %}

{% block body %}

<div class="inner-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h2 class="text-center">Account Details</h2>
                <br><br><br>
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Username</b></div>
                    <div class="panel-body">{{ username }}</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Password</b></div>
                    <div class="panel-body">                        
                        <p style="margin-bottom:8px;">
                            If change password gives 'Unauthorized' error, please logout and login again. This is done to prevent
                            cookie hijacking.
                        </p>
                        <a href="/changepassword" class="btn btn-primary" role="button">Change Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
