{% extends 'layout.html' %}

{% block title %}
My Account
{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-5">
        <h2 class="text-center">Account Details</h2>
        <br>

        <div class="card-deck">
            <ul>
                <div class="card bg-dark">
                    <h4 class="card-header text-center"><b>Username</b></h4>
                    <div class="card-body">
                        <h5 class="text-center">{{ username }}</h5>
                    </div>
                </div>

                <div class="card bg-dark">
                    <h4 class="card-header text-center"><b>Change Password</b></h4>
                    <div class="card-body">
                        <p style="margin-bottom:8px;">
                            If change password gives 'Unauthorized' error, please logout and login again. This is done to prevent
                            cookie hijacking.
                        </p>
                        <a href="/changepassword" class="btn btn-primary" role="button">Change Password</a>
                    </div>
                </div>
            </ul>

        </div>

    </div>
</div>

{% endblock %}
