{% extends 'layout.html' %}

{% block title %}
Change Password
{% endblock %}

{% block body %}
<section id="" class="outer-wrapper">

    <div class="inner-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <h2 class="text-center">Change Password</h2>
                    <br><br>
                    <form role="form" method="post">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.old_pw.label }}
                            {{ form.old_pw(class_="form-control", placeholder="Enter old password", type="password") }}
                        </div>
                        <div class="form-group">
                            {{ form.new_pw.label }}
                            {{ form.new_pw(class_="form-control", placeholder="Enter new password", type="password") }}
                        </div>
                        <div class="form-group">
                            {{ form.new_pw_again.label }}
                            {{ form.new_pw_again(class_="form-control", placeholder="Confirm new password", type="password") }}
                        </div>
                        {{ form.submit(class_="btn btn-default") }}
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}
