<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <style>
    .navbar {
        margin-bottom: 50px;
        border-radius: 0;
    }

    .scrollable {
        height: 550px;
        overflow-y: scroll;
    }

    footer {
        bottom: 0;
        position: fixed;
    }
    </style>
</head>
<body class="bg-dark text-light">

    <nav class="navbar">
        <div class="container-fluid">
            <ul class="nav navbar-left">
                <li class="inactive nav-link"><a>TV Shows Tracker</a></li>
                <li><a class="nav-link" href="/">Home</a></li>
                {% if current_user.is_authenticated or current_user.is_active %}
                <li><a class="nav-link" href="/search">Search</a></li>
                <li><a class="nav-link" href="/shows">My TV-Shows</a></li>
                <li><a class="nav-link" href="/movies">My Movies</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a class="nav-link" href="/myaccount">My Account</a></li>
                <li><a class="nav-link" href="/logout">Logout</a></li>
                {% else %}
                <li><a class="nav-link" href="/login">Login</a></li>
                <li><a class="nav-link" href="/register">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class="list-inline">
                    {% for category, message in messages %}
                    {% if category == 'error'  %}
                    <div class="alert alert-danger text-center" align="center" role="alert">
                        <b>{{ message }}</b>
                    </div>
                    {% elif category == 'success' %}
                    <div class="alert alert-success text-center" align="center" role="alert">
                        <b>{{ message }}</b>
                    </div>
                    {% else %}
                    <div class="alert alert-primary text-center" align="center" role="alert">
                        <b>{{ message }}</b>
                    </div>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <br>
            </div>
        </div>
    </div>


    <div class="container">
        {% block body %} {% endblock %}
    </div>

    <footer class="container-fluid text-center">
        <p>© 2018 Sagar Vrajalal All Rights Reserved</p>
    </footer>

</body>
</html>
