{% extends 'layout.html' %}

{% block title %}
My Movies
{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-5">
        <h2 class="text-center">Your Movies</h2>
        <br>
    </div>
</div>

{% if movies %}
<div class="inner-wrapper scrollable well">

    <table class="table text-center text-light">
        <thead>
            <tr>
                <th class="text-center" scope="col">Movie Title</th>
                <th class="text-center" scope="col">Status</th>
                <th class="text-center" scope="col">Update Status</th>
                <th class="text-center" scope="col">Rating (0 - 100)</th>
                <th class="text-center" scope="col">Update Movie</th>
                <th class="text-center" scope="col">Remove Movie</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>{{ movie.movie_name }}</td>
                <td>{{ movie.status }}</td>
                    <form role="form" method="post">
                        {{ updatemovie.csrf_token }}
                        {{ updatemovie.movie_id(value=movie.movie_id) }}
                        <td>{{ updatemovie.status(value=movie.status, style="text-align:center;")  }}</td>
                        <td>{{ updatemovie.rating(value=movie.rating, style="text-align:center;")  }}</td>
                        <td>{{ updatemovie.submit(class_="btn btn-primary btn-sm") }}</td>
                    </form>
                <td>
                    <form role="form" action="/remove" method="post">
                        {{ removal.id(value=movie.movie_id) }}
                        {{ removal.type(value='movie') }}
                        {{ removal.submit(class_="btn btn-danger btn-sm") }}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="row justify-content-center">
    <div class="col-4 alert alert-danger text-center" align="center" role="alert">
        <strong>No movies to display!</strong>
    </div>
</div>
{% endif %}
{% endblock %}
