{% extends 'layout.html' %}

{% block title %}
Search
{% endblock %}

{% block body %}
<section id="loginform" class="outer-wrapper">

    <div class="inner-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <h2 class="text-center">Search for Movies or Shows.</h2>
                    <form role="form" method="post">
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.type.label }}
                            {{ form.type(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form.title.label }}
                            {{ form.title(class_="form-control", placeholder="Enter title") }}
                        </div>
                        {{ form.submit(class_="btn btn-default") }}
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}
