{% extends 'layout.html' %}

{% block title %}
My TV-Shows
{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <div class="col-5">
        <h2 class="text-center">Your TV Shows</h2>
        <br>
    </div>
</div>


{% if shows %}
<div class="inner-wrapper scrollable well">

    <table class="table text-center text-light">
        <thead>
            <tr>
                <th class="text-center" scope="col">Show Name</th>
                <th class="text-center" scope="col">Current Season</th>
                <th class="text-center" scope="col">Episode Number</th>
                <th class="text-center" scope="col">Update Show</th>
                <th class="text-center" scope="col">Remove Show</th>
            </tr>
        </thead>
        <tbody>
            {% for show in shows %}
            <tr>
                <td>{{ show.show_name }}</td>
                <form role="form" action="/shows" method="post">
                    {{ updateshow.csrf_token }}
                    {{ updateshow.show_id(value=show.show_id) }}
                    <td>{{ updateshow.season(value=show.curr_season, style="text-align:center;") }}</td>
                    <td>{{ updateshow.eps_watched(value=show.eps_watched, style="text-align:center;")  }}</td>
                    <td>{{ updateshow.submit(class_="btn btn-primary btn-sm") }}</td>
                </form>
                <td>
                    <form role="form" action="/remove" method="post">
                        {{ removal.id(value=show.show_id) }}
                        {{ removal.type(value='tv') }}
                        {{ removal.submit(class_="btn btn-danger btn-sm") }}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="row justify-content-center">
    <div class="col-4 alert alert-danger text-center" align="center" role="alert">
        <strong>No shows to display!</strong>
    </div>
</div>

{% endif %}
{% endblock %}
